body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: serif;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.77);
  font-family: "Roboto", sans-serif;
  background: #fafafa;
}

#viewer {
  width: 100%;
  height: 100%;
  position: fixed;
}
